<header>
    <nav>
        <a href="/">MyBookStore</a>
        <ul>
            <li>Books</li>
            <li>Add Book</li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>